body {
    padding: 50px 50px 50px 50px;
    background-color: rgb(244, 245, 247);
    
}
h1 {
    color: brown;
}

img {
    border-radius: 6px;
    height: 250px;
    width: 212px;
}

div.contenedor-global{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 5px 5px 5px 5px;
}

div.contenedor-text {
    margin-left: 15px;
    
}

h2.precio-prod{
    font-family: WallieChunky;
    color: #253238;
}

h3.titulo-prod{
    font-family: WallieFit;
    color: #253238;
}

p.desc-prod{
    font-family: WallieFit;
    color: #607D8B;
}

div.icono-like-prod{
    display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

div.icono-chat-prod{
    display: inline;
    padding-left: 25px;
    border-left:1px solid rgb(172, 166, 166);
    float: left;
    
}

img#like{
    width: 50px;
    height: 40px;
}

img#chat{
    width: 50px;
    height: 40px;
    
    
}